<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Reset</title>
  </head>
  <body style="font-family: Arial, sans-serif">
    <p>Hello there,</p>

    <p>
      We received a request to reset your password. If you did not make this
      request, please disregard this email.
    </p>

    <p>To reset your password, click on the following link:</p>

    <a
      href="{{ protocol }}://localhost:3000/auth/reset-password-comfirm/{{token}}"
      style="
        display: inline-block;
        padding: 10px 15px;
        background-color: #007bff;
        color: #ffffff;
        text-decoration: none;
        border-radius: 5px;
      "
      >Reset Password</a
    >

    <p>
      If the above link doesn't work, copy and paste the following URL into your
      browser:
    </p>

    <p>{{ protocol }}://localhost:3000/auth/reset-password-comfirm/{{token}}</p>

    <p>This link is valid for 10 minutes.</p>

    <p>Best regards,<br />The LMS Team</p>
  </body>
</html>
